# compiled output
dist
build
tmp
.tmp
out-tsc
.cache
.tsbuildinfo
.eslintcache

# dependencies
node_modules

# env & secrets
.env
.env.local
.strapi
.strapi-updater.json
.strapi-cloud.json
exports
license.txt

# uploads
public/uploads/*
!public/uploads/.gitkeep

# logs
*.log
error.log
npm-debug.log
yarn-error.log

# tests
coverage
lcov.info

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# leftover Nx artifacts
.nx
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

vite.config.*.timestamp*
vitest.config.*.timestamp*
.neon
